# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
assets/json/N1.json
assets/json/N2.json
assets/json/N3.json
assets/json/N4.json
assets/json/N5.json
result.txt
lib/addmean.dart
lib/make.dart
lib/teste.dart
lib/scrape.dart
android/app/build/intermediates/assets/release/flutter_assets/assets/json/N1.json
android/app/build/intermediates/assets/release/flutter_assets/assets/json/N2.json
android/app/build/intermediates/assets/release/flutter_assets/assets/json/N3.json
android/app/build/intermediates/assets/release/flutter_assets/assets/json/N4.json
android/app/build/intermediates/assets/release/flutter_assets/assets/json/N5.json
android/app/build/intermediates/flutter/release/flutter_assets/assets/json/N1.json
android/app/build/intermediates/flutter/release/flutter_assets/assets/json/N2.json
android/app/build/intermediates/flutter/release/flutter_assets/assets/json/N3.json
android/app/build/intermediates/flutter/release/flutter_assets/assets/json/N4.json
android/app/build/intermediates/flutter/release/flutter_assets/assets/json/N5.json
test_response.json
build/web/flutter_bootstrap.js
build/web/flutter_service_worker.js
build/web/flutter.js
build/web/main.dart.js
build/web/assets/NOTICES
build/web/assets/assets/json/N1.json
build/web/assets/assets/json/N2.json
build/web/assets/assets/json/N3.json
build/web/assets/assets/json/N4.json
build/web/assets/assets/json/N5.json
build/web/assets/shaders/ink_sparkle.frag
build/web/canvaskit/canvaskit.js
build/web/canvaskit/canvaskit.js.symbols
build/web/canvaskit/skwasm.js
build/web/canvaskit/skwasm.js.symbols
build/web/canvaskit/skwasm.worker.js
build/web/canvaskit/chromium/canvaskit.js
build/web/canvaskit/chromium/canvaskit.js.symbols
build/web/flutter_bootstrap.js
build/web/flutter_service_worker.js
build/web/flutter.js
build/web/main.dart.js
build/web/assets/NOTICES
build/web/assets/assets/json/N1.json
build/web/assets/assets/json/N2.json
build/web/assets/assets/json/N3.json
build/web/assets/assets/json/N4.json
build/web/assets/assets/json/N5.json
build/web/assets/shaders/ink_sparkle.frag
build/web/canvaskit/canvaskit.js
build/web/canvaskit/canvaskit.js.symbols
build/web/canvaskit/skwasm.js
build/web/canvaskit/skwasm.js.symbols
build/web/canvaskit/skwasm.worker.js
build/web/canvaskit/chromium/canvaskit.js
build/web/canvaskit/chromium/canvaskit.js.symbols
build/web/assets/NOTICES
build/web/assets/shaders/ink_sparkle.frag
build/web/favicon.png
build/web/flutter_bootstrap.js
build/web/flutter_service_worker.js
build/web/flutter.js
build/web/main.dart.js
build/web/assets/NOTICES
build/web/assets/assets/json/N1.json
build/web/assets/assets/json/N2.json
build/web/assets/assets/json/N3.json
build/web/assets/assets/json/N4.json
build/web/assets/assets/json/N5.json
build/web/assets/shaders/ink_sparkle.frag
build/web/canvaskit/canvaskit.js
build/web/canvaskit/canvaskit.js.symbols
build/web/canvaskit/skwasm.js
build/web/canvaskit/skwasm.js.symbols
build/web/canvaskit/skwasm.worker.js
build/web/canvaskit/chromium/canvaskit.js
build/web/canvaskit/chromium/canvaskit.js.symbols
build/web/icons/Icon-192.png
build/web/icons/Icon-512.png
build/web/icons/Icon-maskable-192.png
build/web/icons/Icon-maskable-512.png
build/web/icons/main.png
build/web/favicon.png
build/web/flutter_bootstrap.js
build/web/flutter_service_worker.js
build/web/flutter.js
build/web/main.dart.js
build/web/assets/NOTICES
build/web/assets/shaders/ink_sparkle.frag
build/web/canvaskit/canvaskit.js
build/web/canvaskit/canvaskit.js.symbols
build/web/canvaskit/skwasm.js
build/web/canvaskit/skwasm.js.symbols
build/web/canvaskit/skwasm.worker.js
build/web/canvaskit/chromium/canvaskit.js
build/web/canvaskit/chromium/canvaskit.js.symbols
build/web/icons/Icon-192.png
build/web/icons/Icon-512.png
build/web/icons/Icon-maskable-192.png
build/web/icons/Icon-maskable-512.png
build/web/icons/main.png
